.book-item{
    display:inline-block;
    width:130px;
    height:200px;
    background-color: grey;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    margin:20px 30px 0px 30px;    
    vertical-align: middle;
}
.book-title{
    display:inline-block;
    font-family:script;
    font-size:20px;
    text-align: center;
    width:100%;
    padding:75px 0px 0px 0px;
}