.App {
  text-align: center;
  background-color:rgb(100,100,200);
  overflow-y:scroll;
  height:100vh;
  width:100vw;
  overflow:
}
.section-title-container{
  color:white;
  text-align: left;
}
.section-title{
    font-size:2em;      
    display:inline-block;       
    line-height: 40px;
    background-color:rgb(125,125,225);      
    width:100%;
}